In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from env import api_key

pd.set_option("display.max_rows", None, "display.max_columns", None)

pd.reset_option("display.max_rows", "display.max_columns")

import re

In [2]:
# use by-name request and use gamertag
response = requests.get(f"https://na1.api.riotgames.com/lol/summoner/v4/summoners/by-name/battlebud?api_key={api_key}")

In [4]:
# unpack data to grab to puuid
response.json()

{'id': 'wPW6si6_BrV_OC4FTi49Si2PeMbJM-7i2y2NK8tcxORSD1k',
 'accountId': 'pRGmYwVwYy0VU1W-PRfMY_tUuwY6TikHV1clTFR-L1Jrgg',
 'puuid': 'r9_mZslFIqwPMNiko362SeuZS7luHTEXapN_F-hpJv15KjtDipl4Z_b-YD2Mu6FvcI85MswOCXhW7A',
 'name': 'Battlebud',
 'profileIconId': 4404,
 'revisionDate': 1635397171000,
 'summonerLevel': 315}

In [5]:
# use puuid in by-puuid request
pro_puuid = 'r9_mZslFIqwPMNiko362SeuZS7luHTEXapN_F-hpJv15KjtDipl4Z_b-YD2Mu6FvcI85MswOCXhW7A'

In [6]:
# main url
url = 'https://americas.api.riotgames.com/'

# request query
query = f'lol/match/v5/matches/by-puuid/{pro_puuid}/ids?start=200&count=100&api_key={api_key}'

# Get request
response = requests.get(url+query)

In [8]:
# unpack response Returns matchlist
response.json()

['NA1_4083906028', 'NA1_4083910411', 'NA1_4083561526']

In [9]:
game = 'NA1_4083906028'

# Main url
url = 'https://americas.api.riotgames.com/'

# Requesting by matches
query = f'lol/match/v5/matches/{game}?api_key={api_key}'

# Make your request
response = requests.get(url+query)

In [32]:
game = response.json()['info']

In [33]:
df = pd.DataFrame()

In [34]:
df = df.append(game, ignore_index=True)

In [41]:
df.head()

,gameCreation,gameDuration,gameEndTimestamp,gameId,gameMode,gameName,gameStartTimestamp,gameType,gameVersion,mapId,participants,platformId,queueId,teams,tournamentCode
0,1.635396e+12,1066.0,1.635397e+12,4.083906e+09,CLASSIC,teambuilder-match-4083906028,1.635396e+12,MATCHED_GAME,11.21.403.3002,11.0,"[{'assists': 5, 'baronKills': 0, 'bountyLevel'...",NA1,420.0,"[{'bans': [{'championId': 131, 'pickTurn': 1},...",

In [42]:
df['red_team_player_one_assists'] = df.participants[0][0]['assists']

In [43]:
df

,gameCreation,gameDuration,gameEndTimestamp,gameId,gameMode,gameName,gameStartTimestamp,gameType,gameVersion,mapId,participants,platformId,queueId,teams,tournamentCode,red_team_player_one_assists
0,1.635396e+12,1066.0,1.635397e+12,4.083906e+09,CLASSIC,teambuilder-match-4083906028,1.635396e+12,MATCHED_GAME,11.21.403.3002,11.0,"[{'assists': 5, 'baronKills': 0, 'bountyLevel'...",NA1,420.0,"[{'bans': [{'championId': 131, 'pickTurn': 1},...",,5