In [3]:
import pandas as pd
import numpy as np
import env
import acquire

In [4]:
df = acquire.acquire()

In [5]:
df

,Unnamed: 0,assistsplayer_1,assistsplayer_10,assistsplayer_2,assistsplayer_3,assistsplayer_4,assistsplayer_5,assistsplayer_6,assistsplayer_7,assistsplayer_8,...,team_totalGold_200,team_trueDamageDoneToChampions_100,team_trueDamageDoneToChampions_200,team_ward_player_100,team_ward_player_200,team_assistsplayer_100,team_assistsplayer_200,team_xp_100,team_xp_200,Unnamed: 0.1
0,0,2.0,3.0,3.0,3.0,2.0,3.0,3.0,3.0,1.0,...,35237,2951,2594,74,391,13,12,42198,41697,NaN
1,1,1.0,15.0,3.0,1.0,4.0,5.0,0.0,5.0,11.0,...,47104,1757,1697,38,95,14,38,37906,47483,NaN
2,2,0.0,5.0,4.0,2.0,1.0,3.0,1.0,5.0,4.0,...,37239,3897,4351,158,90,10,22,37746,41185,NaN
3,3,3.0,4.0,0.0,7.0,4.0,14.0,5.0,4.0,5.0,...,35871,4308,1738,82,108,28,20,41354,36424,NaN
4,4,3.0,4.0,6.0,6.0,6.0,5.0,3.0,1.0,2.0,...,31360,873,1885,50,41,26,10,40723,37217,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4731,4731,1.0,4.0,1.0,2.0,3.0,8.0,4.0,3.0,6.0,...,36509,656,1356,46,42,15,22,40081,44132,NaN
4732,4732,0.0,8.0,3.0,4.0,6.0,8.0,0.0,3.0,1.0,...,36452,1990,2273,121,86,21,19,40130,38655,NaN
4733,4733,2.0,9.0,4.0,1.0,3.0,4.0,1.0,2.0,1.0,...,39725,1762,1444,53,57,14,16,38826,43382,NaN
4734,4734,4.0,5.0,3.0,5.0,2.0,10.0,2.0,1.0,2.0,...,36182,2333,4000,44,44,24,16,40614,39679,NaN
4735,4735,4.0,9.0,2.0,4.0,5.0,7.0,4.0,4.0,5.0,...,41217,4021,2577,44,61,22,26,42392,42898,NaN