In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("match_data_start_3000_end_4000.csv")
df2 = pd.read_csv("bryant_games.csv")
df3 = pd.read_csv("match_data_start_4000_end_5000.csv")
df4 = pd.read_csv("match_data_start_0_end_1000.csv")
df5 = pd.read_csv("updated_games_list.csv")
df6 = pd.read_csv("match_data_start_23971_end_25628.csv")

In [6]:
df.shape, df2.shape

((698, 209), (723, 209))

In [8]:
df = pd.concat([df, df2], axis=0, ignore_index=True)

In [13]:
df = df.drop(columns=["Unnamed: 0"])

In [15]:
df = pd.concat([df, df3], axis=0, ignore_index=True)

In [17]:
df = pd.concat([df, df4], axis=0, ignore_index=True)

In [18]:
df = pd.concat([df, df5], axis=0, ignore_index=True)

In [19]:
df = pd.concat([df, df6], axis=0, ignore_index=True)

In [24]:
len(df)

4736

In [25]:
df.drop_duplicates(inplace = True)

In [26]:
len(df)

4736

In [29]:
df.to_csv("final.csv")

In [30]:
df

,assistsplayer_1,assistsplayer_10,assistsplayer_2,assistsplayer_3,assistsplayer_4,assistsplayer_5,assistsplayer_6,assistsplayer_7,assistsplayer_8,assistsplayer_9,...,team_totalGold_200,team_trueDamageDoneToChampions_100,team_trueDamageDoneToChampions_200,team_ward_player_100,team_ward_player_200,team_assistsplayer_100,team_assistsplayer_200,team_xp_100,team_xp_200,Unnamed: 0
0,2.0,3.0,3.0,3.0,2.0,3.0,3.0,3.0,1.0,2.0,...,35237,2951,2594,74,391,13,12,42198,41697,NaN
1,1.0,15.0,3.0,1.0,4.0,5.0,0.0,5.0,11.0,7.0,...,47104,1757,1697,38,95,14,38,37906,47483,NaN
2,0.0,5.0,4.0,2.0,1.0,3.0,1.0,5.0,4.0,7.0,...,37239,3897,4351,158,90,10,22,37746,41185,NaN
3,3.0,4.0,0.0,7.0,4.0,14.0,5.0,4.0,5.0,2.0,...,35871,4308,1738,82,108,28,20,41354,36424,NaN
4,3.0,4.0,6.0,6.0,6.0,5.0,3.0,1.0,2.0,0.0,...,31360,873,1885,50,41,26,10,40723,37217,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4731,1.0,4.0,1.0,2.0,3.0,8.0,4.0,3.0,6.0,5.0,...,36509,656,1356,46,42,15,22,40081,44132,NaN
4732,0.0,8.0,3.0,4.0,6.0,8.0,0.0,3.0,1.0,7.0,...,36452,1990,2273,121,86,21,19,40130,38655,NaN
4733,2.0,9.0,4.0,1.0,3.0,4.0,1.0,2.0,1.0,3.0,...,39725,1762,1444,53,57,14,16,38826,43382,NaN
4734,4.0,5.0,3.0,5.0,2.0,10.0,2.0,1.0,2.0,6.0,...,36182,2333,4000,44,44,24,16,40614,39679,NaN
4735,4.0,9.0,2.0,4.0,5.0,7.0,4.0,4.0,5.0,4.0,...,41217,4021,2577,44,61,22,26,42392,42898,NaN