In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from env import api_key

pd.set_option("display.max_rows", None, "display.max_columns", None)

pd.reset_option("display.max_rows", "display.max_columns")

import re

In [5]:
pro_df = pd.read_csv('pro_info')

In [8]:
pro_df

,Unnamed: 0,accountId,id,name,profileIconId,puuid,revisionDate,summonerLevel,status,matchlist
0,0,nKJC_cGHsGlYdLEfCsdls4ZF6C6MnvWYufOdAIWDzZtXdv4,sOvjGGtou3pyPVxC_nhF0-EjAkHnlqxKlxfYBpRBIRekZ8Y,Huni,29.0,Z7pd5e2gdBi57AxmsFZ-EdEnkOnpTtDvphm1W6aHPKd-y8...,1.627109e+12,51.0,NaN,"['NA1_3987730747', 'NA1_3987675378', 'NA1_3987..."
1,1,56Txj5UmChQpiBDDv0DM3mquKfIjMv6sGNwXkSCz2W4kAQ,pBQNpIhhSIGCW2um1xgaI3hQlcjSSLJF-xQfWN1itIPxP28,CoreJJ,899.0,Xa-Oz0aRQC4Kz5izDwMrZ_MKR-DiYR0wZfDPIZO_u8LNms...,1.635108e+12,266.0,NaN,"['NA1_4080656040', 'NA1_4078102220', 'NA1_4078..."
2,2,qYeWSaySxSc1AecWalu1KLyctAUP5TdHxAA9CFlwHrGVAIo,51NZV10JayF_pl3-9Wh3IrRN9AXoHM2kC8rEm4aJ4oOSgpg,Impact,4154.0,fRSUBGeQOisi6C8Ub-SyEZI9eo45xUf9crds5M2chuQzww...,1.616117e+12,35.0,NaN,"['NA1_3831814190', 'NA1_3831801573', 'NA1_3831..."
3,3,tmbhwCi6xxUlQT5SR_dX4J7mwR7__v056bO-xfSxAu3WiME,m-vXc23pK4xHHSgqCsVmfEfisiYYteoB1HHx_0YsC9MxRCI,Contractz,1367.0,hkCSRTePBeguK-XLSsHFasPTTeGzBsU9XQsf0wRBm-dWVX...,1.618523e+12,57.0,NaN,"['NA1_3867848090', 'NA1_3860961276', 'NA1_3857..."
4,4,QVwNMGPL9J-X6PVrn18En_NNj4Xopn_i7qTMnr_ZgfZ-MQ,CKMUv3C6ZNAJpjTv1fvgR8eW71TWEJ0r1bAQAWXcZEA6j54,Jensen,5084.0,dRL3PXURQXdfyrecxIjKkaHwQU5w7vv5_J-FxPYWHKHy-x...,1.635208e+12,358.0,NaN,"['NA1_4081679313', 'NA1_4081635360', 'NA1_4081..."
...,...,...,...,...,...,...,...,...,...,...
198,198,gzFEXdw-aQ49oMIR0TrqLlsbyfrftARNmdMWEvfVr_tXRoE,e-6iuGOVZzLa5m-DcV-GbEDgYq9hg4BF8aMm6oOQdlzhIJs,Aspect,576.0,406BiCdU3vqqwjrQHC75M1bRSQByixCPTR1GmPwtl3u9hw...,1.635471e+12,343.0,NaN,"['NA1_4084825701', 'NA1_4084803779', 'NA1_4084..."
199,199,6Vp3OLyTn4NkdRY7Wc1WPfNbmFl79_DjXaRR1kLd2kQdTX...,IpZGwTN2HAjNmWwbXzwmprNou5DBt4VDwh1nwNzpScxI2TXW,SkyTec,4737.0,ZxJGMXRb2dL3ZQvcRQDxXOXmAoR5TkxcnelZD_zdqLOLLR...,1.635793e+12,148.0,NaN,"['NA1_4089420899', 'NA1_4089232018', 'NA1_4089..."
200,200,XKkX1Qzde-oX-GO8aBJm7xsLMscfllIFESrfdYcI2z4ZPw,37NwL4svUmUQ0BuNlj3zGDUBaFZpEQrvk67Tbgnz049E_yU,H4xDefender,18.0,zz6CdLStrrt7rh_WjpE10K2mjSh6q64h9ybArEB08BLj2Q...,1.635393e+12,270.0,NaN,"['NA1_4089009709', 'NA1_4089015603', 'NA1_4088..."
201,201,DXaQoXcdAGYy88f5AXLzk9xOt99LFZoyoj7nk9j_ljTOAlg,906YL9_kY9tAossmCjro0o--B2hgtRmygD_GnjZsyvcEONs,Busio,7.0,KzSim31jWebDu_AoXmEdeNigtmfHZS1UGwXAJiPnsBlB8C...,1.629607e+12,140.0,NaN,"['NA1_4018873928', 'NA1_4018828200', 'NA1_4017..."
202,202,ix2utf6rZZX-oSO9e8jvZo5Zw-50nvbgLsDyxgOuWBAqRw,FX1675rzJG_2mXzwv2k2XqRGLZr2XEfbs7OdLP_mKJ-Xuys,Chad,591.0,-F7Gx1tdxo3dLxesbVgtCxhmtK7yU6mR2J0w5EAnFvb1xi...,1.593583e+12,61.0,NaN,[]

In [3]:
matchlist_df = pd.read_csv('matchlist.csv')

In [4]:
matchlist_df

       Unnamed: 0           match
0               0  NA1_3987730747
1               1  NA1_3987675378
2               2  NA1_3987659729
3               3  NA1_3925899919
4               4  NA1_3925825590
...           ...             ...
12473       12473  NA1_3973931363
12474       12474  NA1_3973838203
12475       12475  NA1_3973527461
12476       12476  NA1_3972651107
12477       12477  NA1_3972578142

[12478 rows x 2 columns]